html,body {
  margin: 0;
  height: 100%;
}

ul li {
  list-style: none;
}


.main-header {
  background: #0078c9;
  padding: 10px;
}

.main-header img {
  width: 150px;
  margin: 10px;
}

.admin-cog {
  margin: 15px;
}

.fa-cog { color: #fff; }
.fa-cog:hover { color: #c5c7c8; transition-duration: .5s; }

/******** Admin Menu *********/

.admin-menu {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: auto;
  display: block;
  width: 450px;
  height: 100vh;
  background: #202020;
  overflow: hidden;
  font-family: "Quicksand",sans-serif;
  border-left: 2px groove #333;
/*  -webkit-transform: translateX(560px);
  -ms-transform: translateX(560px);
  transform: translateX(560px);
  -webkit-transition: -webkit-transform .5s;*/
  transition: transform .5s;

}

 .header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #000;
}
.header h1 {
  margin: 0;
  color: #fafafa;
  padding: 0 10px;
  font-size: 26px;
  line-height: 70px;
  font-weight: 300;
}
.header .closeMenu {
  padding: 0 12px;
  font-size: 20px;
  line-height: 70px;
  cursor: pointer;
  color: #fafafa;
}

.closeMenu{
  color: #fff;
  cursor: pointer;
}

.admin-content {
  margin: 30px 0 10px 10px;
}

/* Form input admin menu */
.admin-section {
  padding: 10px 0 30px 0;
  border-bottom: 1px solid rgba(255,255,255,0.175);
}

.admin-section h4 {
  color: #fafafa;
  padding-bottom: 15px;
}

.box-text-input {
  border-radius: 5px;
  margin-right: 10px;
  line-height: 25px;
  font-size: 18px;

}

.box-submit {
  line-height: 30px;
  font-size: 18px;
  background: inherit;
  color: #fafafa;
  padding: 0 15px;
  border: 1px solid #fafafa;
}

.box-submit:hover {
  line-height: 30px;
  font-size: 18px;
  background: #fafafa;
  color: #000;
  padding: 0 15px;
  transition-duration: .5s;
}

.site-list-view-check .checkbox-wrapper {
  display: inline-block;
  color: #ccc;
}
.site-list-view-check .checkbox-wrapper:nth-child(2),
.site-list-view-check .checkbox-wrapper:nth-child(3) {
  margin-left: 70px;
}

#support-title {
  padding-bottom: 30px;
}

.reset-button {
    display: inline-block;
    padding: 7px 1.6em;
    background: transparent;
    color: #3FA9F5;
    border: 1px solid #3FA9F5;
    border-radius: 4px;
    line-height: 2.5em;
    font-size: 1.2em;
    text-decoration: none;
    -webkit-transition: background .2s,color .2s;
    transition: background .2s,color .2s;
}

.reset-button:hover {
    background: #3FA9F5;
    color: #fff;
}

/***** Site list *****/

.site-wrapper {
  padding-top: 35px;
}

.site-wrapper ul {
  padding: 0;
}

.fa-chevron-right,
.fa-chevron-down {
  font-size: 25px;
}

.filter-list input{
  margin: 5px 0 15px;

}

/********** Color Schemes ***********/
 .color-wrapper {
  padding-top: 35px;
 }
 .color-wrapper p {
  cursor: pointer;
 }
 .colorBox p{
  text-align: center;
 }
.bg-concur-light-blue {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #15b8fe; 
}         
.bg-concur-blue {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #00a9f2;
}
.bg-blue-medium {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #0078c9;

}
.bg-concur-darker-blue {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #0b59a9;
}
.bg-concur-modified-dark-blue {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #014a7d;
}
.bg-blue-dark {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #004a7d;
}
.bg-concur-light-green {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #89bf42;
}
.bg-concur-yellow {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #f4a900;
}
.bg-burnt-orange {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #d25533;
}
.bg-concur-md-grey {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #f6f6f6;
}
.bg-concur-light-grey {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #f0f0f0;
}
.bg-concur-grey {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #444;
}

/***** Custom Site List ********/

.custom-sites {
  margin: 20px 0;
}

.custom-slots {
  background: rgba(0,0,0,0.7);
  background: rgba(0,0,0,0.7);
  position: relative;
  padding: 30px;
  margin-bottom: 25px;
  border-radius: 5px;
  color: #fff;
}
.custom-slots:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}

.remove-site {
  position: absolute;
  right: 15px;
  top: 0;
}

.remove-site:hover {
  transform: scale(1.2);
}


/****** Default classes *********/

.active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.hideMenu {
  display:none;
}

.show {
  display: block;
}

.animated {
  animation-name: anime;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: .5s;
    
}

.animated-right {
  animation-name: bounce;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: .5s;
}

@keyframes anime {
  0% {
    right: calc(100px - 100%);
  }
  100% {
    right: 0;
  }
}
@keyframes bounce {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}





